body {
  font-family: "Lucida Grande", sans-serif;
  font-size: 12px; }

ul.photos {
  margin: 0;
  padding: 0; }
  ul.photos li.photo {
    list-style-type: none;
    margin: 5px;
    width: 170px;
    height: 230px;
    float: left;
    background-color: #eee;
    font-size: 10px;
    overflow: hidden; }
    ul.photos li.photo:hover {
      background-color: #ddd; }
    ul.photos li.photo a {
      display: block;
      padding: 10px;
      color: inherit;
      text-decoration: none; }
    ul.photos li.photo img {
      border: 0;
      margin: 0 170px 3px 0;
      float: left; }
    ul.photos li.photo .title {
      clear: both;
      padding-bottom: 10px; }

.paginated {
  clear: both;
  margin: 5px;
  padding-top: 5px; }
  .paginated ul, .paginated ul li {
    display: inline;
    padding: 2px; }
