!!!
%head
  %title Photowire
  =css_include_tag 'master'
  =js_include_tag 'jquery'
  =js_include_tag 'application'

%body
  %h1 Photowire
  %p
    -if @admin
      %p="Indexing #{Statistic.photo_count} photos and #{Statistic.attribute_count} EXIF attributes."
    -else
      ="A database of #{Statistic.photo_count} high-resolution photographs from the Associated Press and Agence France-Presse news wires."
    ="Last updated #{time_ago_in_words(Photo.newest.downloaded_at)} ago."
    %a{:href => '/about'} More about...
    
  =catch_content :for_layout