%form{:action => url(:photos)}
  %label
    Search:
    %input{:type => :text, :name => 'search', :value => h(params[:search] || '')}
    %input{:type => :submit, :value => 'Go'}

%ul.photos.index
  -@photos.each do |photo|
    %li[photo]
      %a{:href => url(:photo, photo)}
        -width, height = photo.thumbnail_size
        =image_tag public_path(photo.thumbnail), :alt => h(photo.description_trimmed), :width => width, :height => height
        .title=h photo.description_trimmed

=paginate @page, @pages, :left_cut_label => '&hellip;', :right_cut_label => '&hellip;', :default_css => false, :url => "?#{search_query}"