%h2 About
%p 
  I like photography and I'm a news junkie, so I've always been annoyed that
  news photos on the web never match the detail they have in print. One day I
  started looking for a source of high-resolution news photos and I found Dave
  Winer's FlickrFan screensaver. I've been storing the photos from its
  internal RSS feeds since June 2008 and I wanted a convenient way to browse
  and search them, so I made this site using Ruby and Merb.

%h2 To Do
%p Here's what I'm thinking of working on next:
%ul
  %li Filter by date, location, category
  %li Add sorting options
  %li Ranking by "interestingness"
  %li Smarter searching
  %li Map view
  %li Calendar view
  %li Statistics about people and places
  %li Bayesian classification of captions
  %li Link to relevant news articles

%h2 Contact
%p <a href="m&#97;&#105;&#x6c;&#116;&#111;&#x3a;&#109;&#x69;&#x6c;&#111;&#64;&#119;&#x69;&#110;&#x6e;&#105;&#110;&#x67;&#104;&#97;&#x6d;&#46;&#110;&#101;&#116;">&#109;&#x69;l&#111;&#64;&#119;&#x69;&#110;&#x6e;&#105;&#110;&#x67;&#104;&#97;&#x6d;&#46;&#110;&#101;t</a>